<!-- footer.html -->
<footer class="bg-primary text-light py-4 mt-5">
    <div class="container">
        <div class="row">
            <!-- Copyright -->
            <div class="row align-items-center text-muted">
                <div class="col-md-6">
                    <p class="mb-0">
                        &copy; SRE Monitoring Observability {{ current_year }}
                    </p>
                </div>
                <div class="col-md-6 text-md-end">
                    <small>
                        <i class="bi bi-filetype-php me-1"></i>
                        Flask {{ flask_version }} + Servidor Built-in
                    </small>
                </div>
            </div>
        </div>
    </div>
</footer>